@media only screen and (max-width: 500px) {
    a {
        font-size: 250% !important;
    }
}
html,
body {
    margin: 0;
    background-color: rgb(196, 161, 65);
}

.container {
    text-align: center;
    min-height: 100vh;
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-left: 1px solid #000;
    box-shadow: 25px 0px 20px -20px rgba(0, 0, 0, 0.45),
        -25px 0px 20px -20px rgba(0, 0, 0, 0.45);
}

.logo {
    width: 90%;
    max-width: 800px;
    height: auto;
    margin: 0 auto;
}


.nav {
    margin: 20px 0;
    text-align: center;
}

.nav a {
    text-decoration: none;
    color: #0066cc;
    font-size: 20px;
    margin: 0 15px;
    padding: 10px;
    display: inline-block;
}

.nav a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
}

.text-below {
    text-align: left;
    font-size: 35px;
}

.text-blow {
    text-align: left;
    font-size: 25px;
}


a{
    color:#000;
    font-size: 250%;
}
body{
    font-family: "Rajdhani", sans-serif;
}

h2{
font-size: 200%;
}
.auto {
    max-width: 90%;
        width: 600px;
        height: auto;
        margin: 0 auto;
    }
    .text-below {
        text-align: left;
        font-size: 35px;
    }

    .text-blow {
        text-align: left;
        font-size: 25px;
    }